/*.item {*/
/*display: flex;*/
/*}*/

.addPostBorder {

    padding: 5px;

    border: #e2dada 1px solid;
    border-radius: 6px;


}

.container_addPostBorder {
    border: #e2dada 1px solid;

    /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    /*background: #39b54a; !* Цвет фона *!*/
    color: #fff; /* Цвет текста */
    /* Ширина слоя */
}


.posts {
    margin-top: 50px;
    /*max-width: 80ch;*/
}

.btn_container {

    border: 1px solid #e2dada;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts {

}

/*///addpostform*/

.flex_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: end;


}

.text_field {
    height: 100%;
    width: 80%;
    flex: 3;

}

.image_upload {
    padding: 5px;
    display: flex;
    justify-content: space-between;

}


/*btn*/
.button {
    order: 3;
    margin: 0;
}

.btn {
    margin: 0px;
    display: block;
    order: 3;
    padding: 5px;

}

@media (max-width: 500px) {
    .flex_container {
        flex-direction: column;
        justify-content: center;
    }

    .text_field {
        width: 100%;
    }

    .btn_container {
        width: 100%;
    }

    .image_upload {
        justify-content: center;
    }

    .posts {
        margin-top: 10px;
        /*max-width: 80ch;*/
    }
}